@media (max-width: 575px) {

    /* POPUP */

    .popup__form {
        padding: 0;
    }

    .popup__content {
        padding: 4rem;
    }

    .popup__title {
        font-size: 2.4rem;
    }

    .popup__form-label {
        font-size: 2rem;
    }
}